name: Metrics
on:
  # Update every 24 hours
  schedule: [{ cron: "0 0 * * *" }]
  workflow_dispatch:
  push: { branches: ["master", "main"] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub Token
          token: ${{ secrets.METRICS_TOKEN }}

          # This controls the "User" section
          user: ${{ github.repository_owner }}
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata

          # This controls the "Spider Graph" (Activity Overview)
          plugin_lines: yes
